@charset "utf-8";

/* reset */
html {-webkit-text-size-adjust: none; text-size-adjust: none;}
body {margin: 0;}
h1, h2, h3, h4, h5, h6, p, ul, ol, li , dl, dd {margin: 0; padding: 0;}
li {list-style: none;}
a {color: inherit; text-decoration: none;}
em {font-style: normal;}
img {max-width: 100%; vertical-align: middle;}
.mobile {display: none !important;}
br.only-m {content: '';}
br.only-m:after {content: '\00a0';}
.ir-hidden {position: absolute; left: -9999px;}
i[class^="fas"] {position: relative; display: inline-block; vertical-align: middle; overflow: hidden;}
i[class^="fas"] span {position: absolute; left: -9999px;}
button {background: none; text-align: left; font-size: inherit; font-family: inherit; color: inherit; outline: none;}
.clearfix::after {content: ''; display: block; clear: both;}
table {border-collapse: collapse; border-spacing: 0; } 
th, td { display: inline-block; white-space: nowrap; text-align: left;}


/* common */
body {font-family: 'Metropolis', sans-serif; font-weight: 400; font-size: 16px; color: #222222;}
#wrapper {position: relative; min-width: 1024px; overflow: hidden;}
#skip-nav {position: fixed; left: 0; top: -30px; width: 100%; height: 30px; line-height: 30px; text-align: center; background: #cccccc; transition: all 0.3s; z-index: 99999;}
#skip-nav:focus {top: 0;}
#header {position: fixed; left: 0; top: 0; width: 100%; height: 90px; z-index: 10000;}
#header::before {content: ''; position: absolute; left: 0; top: 0; width: 100%; height: 0; transition: height 0.3s; background: #ffffff;}
#header::after {content: ''; position: absolute; left: 0; top: 100%; width: 100%; height: 1px; background: #dddddd; opacity: 0;}
#header h1 {position: absolute; left: 50px; top: 0; width: 146px; height: 100%;}
#header h1 a {display: block; height: 100%;}
#header h1 a img {position: absolute; width: 100%; left: 0; top: 50%; transform: translate(0, -50%);}
#header h1 a img + img {display: none;}
#gnb {position: absolute; left: 50%; top: 50%; transform: translate(-50%, -50%);}
#gnb > ul > li {position: relative; float: left;  text-align: center;}
#gnb > ul > li + li {margin-left: 80px;}
#gnb > ul > li > a {position: relative; display: block; line-height: 90px; font-weight: 600; color: #ffffff; transition: color 0.3s;}
#gnb > ul > li > a::after {content: ''; position: absolute; left: 0; bottom: 0; width: 100%; height: 3px;  background: #b1c715; opacity: 0;}
#gnb > ul > li:hover > a::after {opacity: 1;}
#gnb > ul > li > ul {position: absolute; top: 100%; width: 100%; height: 0; overflow: hidden; margin-top: 40px; font-weight: 300; color: #555555; transition: height 0.2s;}
#gnb > ul > li[data-menu^="media"],
#gnb > ul > li[data-menu^="invest"] {position: relative;}
#gnb > ul > li[data-menu^="media"] > ul,
#gnb > ul > li[data-menu^="invest"] > ul {position: absolute; left: 50%; transform: translate(-50%, 0); width: 120px;}
#gnb > ul > li > ul > li > a {display: block; line-height: 34px;}
#gnb > ul > li > ul > li > a:hover {font-weight: 500; color: #b1c712;}
#gnb > a.hire {position: absolute; left: calc(100% + 6%); top: calc(100% + 40px); width: 320px; height: 168px; padding: 30px 35px; font-size: 20px; line-height: 26px; font-weight: 300; background: url(../img/gnb_hire.jpg) center no-repeat; background-size: cover; box-sizing: border-box;  display: none;}
#gnb > a.hire::before {content: ''; width: 44px; height: 10px; position: absolute; left: 35px; bottom: 30px; background: url(../img/icon-arrow.png) center no-repeat; background-size: cover;}
#top-menu {position: absolute; height: 100%; right: 50px; top: 50%; transform: translate(0, -50%); z-index: 10;}
#top-menu > li {float: left; font-size: 15px; color: #ffffff; transition: all 0.3s;}
#top-menu > li:first-child {position: relative;}
#top-menu > li:first-child::after {content: ''; width: 1px; height: 11px; background: #ffffff; position: absolute; left: 100%; top: 50%; transform: translate(-50%, -50%);}
#top-menu > li > a {display: block; line-height: 90px; padding: 0 16px;}
#top-menu > li.lang {position: relative; top: 28px; font-size: 14px; width: 94px; height: 36px; padding-left: 20px; margin-left: 20px; border-radius: 32px; box-sizing: border-box; overflow: hidden; transition: all 0.3s; border: 1px solid rgba(255, 255, 255, 0.4); transition: none;}
#top-menu > li.lang > a {display: block; line-height: 36px; padding: 0;}
#top-menu > .chevron {position: absolute; right: 16px; top: 50%; transform: translate(0, -50%);}
#top-menu > .chevron > i {color: #ffffff;}
#top-menu > .chevron > i + i {display: none;}

/* #header.dark {background: #ffffff;} */
#header.open:before {height: 360px;}
#header.open:after {opacity: 1;}
#header.dark h1 a img,
#header.open h1 a img {display: none;}
#header.dark h1 a img + img,
#header.open h1 a img + img {display: block;}
#header.dark #gnb > ul > li > a,
#header.open #gnb > ul > li > a {color: #222222;}
#header.open #gnb > ul > li > ul {height: 170px;}
#header.open #gnb > a.hire {display: block;}
#header.dark #top-menu > li,
#header.open #top-menu > li {color: #222222;}
#header.dark #top-menu > li:first-child::after,
#header.open #top-menu > li:first-child::after {background-color: #c3c3c3;}
#header.dark #top-menu > li.lang,
#header.open #top-menu > li.lang {border-color: rgba(0, 0, 0, 0.4);}
#header.dark #top-menu > .chevron > i,
#header.open #top-menu > .chevron > i {color: rgba(0, 0, 0, 0.4);}
#top-menu > li.lang.on {height: 70px; border-radius: 15px; background: #ffffff;}
#top-menu > li.lang.on > a:hover {color: #afc511;}
#top-menu > li.lang.on + .chevron > i {display: none;}
#top-menu > li.lang.on + .chevron > i + i {display: block;}

@media screen and (max-width: 1280px) {
  #gnb > ul > li + li {margin-left: 40px;}
  #gnb > a.hire {width: 240px; height: 145px; padding: 25px 30px;}
  #top-menu {right: 15px;}
  #top-menu > li > a {padding: 0 10px;}
  #top-menu > li.lang {margin-left: 0;}
}


/* main */
body.main #main > section {height: 100vh;}
body.main #main > .btn-onair {position: fixed; right: 15px; top: 50%; width: 85px; height: 85px; transform: translate(0, calc(-50% - 120px)); z-index: 1000; border-radius: 50%; box-shadow: 20px 20px 30px 0 rgb(0 0 0 / 10%);}
body.main #main > .btn-onair > img {width: 100%;}
body.main #main > ul.indicator {position: fixed; right: 50px; top: 50%; transform: translate(0, -50%); z-index: 1000;}
body.main #main > ul.indicator > li + li {margin-top: 18px;}
body.main #main > ul.indicator > li > a {display: block; width: 12px; height: 12px; text-indent: -9999px; overflow: hidden; border: 2px solid #ffffff; border-radius: 50%; box-sizing: border-box; opacity: 0.4;}
body.main #main > ul.indicator > li.on > a {background: #ffffff; opacity: 1;}
body.main #main > ul.indicator.dark > li > a {border-color: #333333;}
body.main #main > ul.indicator.dark > li.on > a {background: #333333;}

#main-visual {position: relative; overflow: hidden; min-height: 750px;}
#main-visual > div.animation {position: absolute; left: 50%; top: 50%; transform: translate(-50%, -50%); width: 500px; color: rgba(255, 255, 255, 0.2);}
#main-visual > div.animation > h2 {font-size: 80px; font-weight: 700; text-align: center; margin-bottom: 30px;}
#main-visual > div.animation > h2 > em {position: relative ;}
#main-visual > div.animation > h2 > em + em {display: block; margin-top: 60px;}
#main-visual > div.animation > h2 > em + em::before {content: ''; position: absolute; left: 50%; top: -50%; transform: translate(-50%, 50%); width: 14px; height: 14px; border-radius: 50%; background: rgba(255, 255, 255, 0.2);}
#main-visual > div.animation > h2 > em > span {font-weight: 400;}
#main-visual > div.animation > p {position: relative;}
#main-visual > div.animation > p > span {position: absolute; font-size: 20px; color: #ffffff;display: none; width: 100%; text-align: center;}

#main-visual > div.animation.default {color: #ffffff;}
#main-visual > div.animation.human > h2 > em:first-child {color: #ffffff}
#main-visual > div.animation.human > p > span:first-child {display: block;}
#main-visual > div.animation.data > h2 > em:nth-child(2) {color: #ffffff}
#main-visual > div.animation.data > p > span:nth-child(2) {display: block;}
#main-visual > div.animation.gs > h2 > em:nth-child(3) {color: #ffffff}
#main-visual > div.animation.gs > p > span:nth-child(3) {display: block;}
#main-visual > span {position: absolute; left: 50%; bottom: 60px; transform: translate(-50%, 0); font-size: 15px;  font-weight: 700; color: #ffffff; }
#main-visual > span::before {content: ''; position: absolute; left: 50%; top: 50%; width: 4px; height: 4px; border-radius: 50px; background: #ffffff;animation: scroll-effect 0.5s linear 0s infinite alternate forwards;}
#main-visual > span::after {content: ''; display: block; width: 24px; height: 38px; border: 2px solid #ffffff; border-radius: 30px; box-sizing: border-box; margin: 10px auto 0;}

#main-story {position: relative; overflow: hidden;}
#main-story::before {content: ''; display: block; width: 530px; height: 100%; background: #dfef89; margin-left: auto;}
#main-story > h2 {position: absolute; left: 240px; top: 50%; transform: translate(0, -50%); font-size: 30px; color: #b1c712; z-index: 10;}
#main-story > h2 > em {display: block; font-size: 90px; font-weight: 800; color: #222222; margin-top: 24px; position: relative;}
#main-story > h2 > p {margin-top: 46px; font-size: 20px; font-weight: 400; color: #555555;}
#main-story > p.control {position: absolute; left: 50px; bottom: 316px; width: 1370px;}
#main-story > p.control > a.prev {float: left;}
#main-story > p.control > a.next {float: right;}
#main-story > p.control > a {width: 120px; height: 120px; font-size: 40px; line-height: 120px; text-align: center; border-radius: 50%; color: #ffffff; background: rgba(0, 0, 0, 0.2);}
#main-story > p.control > a.on {background: rgba(0, 0, 0, 0.5);}
#main-story > a.more {position: absolute; left: 240px; bottom: 182px;}
#main-story > ul {position: absolute; width: 2090px; left: 770px; top: 50%; transform: translate(0, -10%);}
#main-story > ul > li {float: left; width: 500px; height: 304px; background: url(../img/main-story-01.jpg) center top no-repeat; background-size: 100%;}
#main-story > ul > li:nth-child(2) {background-image: url(../img/main-story-02.jpg);}
#main-story > ul > li:nth-child(3) {background-image: url(../img/main-story-03.jpg);}
#main-story > ul > li:nth-child(4) {background-image: url(../img/main-story-04.jpg);}
#main-story > ul > li + li {margin-left: 30px;}
#main-story > ul > li > a {position: relative; display: block; height: 100%; background: url(../img/main-story-05.png) center no-repeat; background-size: cover;}
#main-story > ul > li > a > .txt {position: absolute; left: 0; top: 50%; width: 430px; padding: 50px; padding-bottom: 100px; background: none; box-shadow: none; transition: all 0.3s; box-sizing: border-box;}
#main-story > ul > li > a > .txt::after {content: ''; position: absolute; left: 50px; bottom: 50px; width: 40px; height: 16px; background: url(../img/main-story-06.png) center no-repeat; background-size: contain; display: none;}
#main-story > ul > li > a > .txt > em {display: block; font-size: 25px; line-height: 32px; font-weight: 700; letter-spacing: -2px; color: #ffffff; margin-bottom: 20px;}
#main-story > ul > li > a > .txt > span {display: none; font-size: 18px; color: rgba(34, 34, 34, 0.7);}
#main-story .status {position: absolute; width: calc(100% - 770px); left: 240px; bottom: 0;}

#main-story > ul > li:hover > a > .txt {background: #ffffff; box-shadow: 10px 10px 30px 0 rgba(0, 0, 0, 0.1); top: 40%;}
#main-story > ul > li:hover > a > .txt::after {display: block;}
#main-story > ul > li:hover > a > .txt > em {color: #222222;}
#main-story > ul > li:hover > a > .txt > span {display: block;}
#main-story.swipe > h2 {color: #ffffff;}
#main-story.swipe > h2 > em {color: #eeeeee; font-size: 140px; top: -100px;}
#main-story.swipe > h2 > p {color: #555555;}
@media screen and (max-width: 1260px) {
  #main-story::before {width: 300px;}
  #main-story.swipe > h2 > em {font-size: 110px;}
  #main-story .status {width: calc(100% - 540px);}
}

#main-culture {position: relative; overflow: hidden; padding-top: 200px; box-sizing: border-box; min-height: 860px;}
#main-culture > div.title {position: relative; text-align: center; color: #ffffff;}
#main-culture > div.title > h2 {font-size: 60px; margin-bottom: 40px; text-align: center; font-weight: 800px;}
#main-culture > div.title > p {font-size: 18px; text-align: center;}
#main-culture > ul {overflow: hidden; position: absolute; left: 0; top: 0; z-index: 100; width: 100%; height: 100%; color: #fff; background: rgba(0, 0, 0, 0.2);}
#main-culture > ul > li {float: left; width: 25%; height: 100%; box-sizing: border-box; padding-top: 540px; transition: padding-top 0.3s;}
#main-culture > ul > li + li {border-left: 1px solid rgba(255, 255, 255, 0.2);}
#main-culture > ul > li > a.category {display: block; text-align: center;}
#main-culture > ul > li > a.category > h3 {margin-top: 28px; font-size: 30px; font-weight: 700;}
#main-culture > ul > li > a.category > h3 > p {display: none;}
#main-culture > ul > li > ul.contents {display: none;}
#main-culture > ul > li:hover {padding-top: 380px; background: rgba(0, 0, 0, 0.3);}
#main-culture > ul > li:hover > a.category > h3 > p {display: block; margin-top: 20px; font-size: 16px; color: rgba(255, 255, 255, 0.6);}
#main-culture > ul > li:hover > ul.contents {display: block; margin-top: 45px;}
#main-culture > ul > li:hover > ul.contents > li + li {margin-top: 5px;}
#main-culture > ul > li:hover > ul.contents > li > a {display: block; width: 250px; height: 60px; margin: 0 auto; border: 1px solid rgba(255, 255, 255, 0.6); text-align: center; line-height: 58px;}

#main-news {padding: 154px 50px; box-sizing: border-box; overflow: hidden; min-height: 900px;}
#news-wrapper {max-width: 1196px; margin: 0 auto;}
#news-wrapper > div {overflow: hidden; margin-bottom: 50px;}
#news-wrapper > div > h2 {font-size: 50px; font-weight: 700; position: relative; float: left; margin-left: 20px;}
#news-wrapper > div > h2::before {content: ''; position: absolute; left: 0; bottom: 0; width: 100%; height: 10px; transform: translate(0, -50%); background: #DCEB78; z-index: -1;}
#news-wrapper > div > a.more {float: right;}
#news-wrapper > ul > li {border-top: 1px solid #e5e5e5; }
#news-wrapper > ul > li:last-child {border-bottom: 1px solid #e5e5e5;;}
#news-wrapper > ul > li > a {display: block; height: 136px;  overflow: hidden;}
#news-wrapper > ul > li > a::before {content: ''; float: right; width: 500px; height: 100%; background: url(../img/main-news-01.png) center no-repeat; background-size: contain; display: none;}
#news-wrapper > ul > li.cover > a::before {background-size: cover;}
#news-wrapper > ul > li:nth-child(2) > a::before {background-image: url(../img/main-news-02.jpg);} 
#news-wrapper > ul > li:nth-child(3) > a::before {background-image: url(../img/main-news-03.jpg);} 
#news-wrapper > ul > li > a > div {position: relative;  height: 100%; padding: 44px 0 0 44px; box-sizing: border-box;}
#news-wrapper > ul > li > a > div > * {display: block;}
#news-wrapper > ul > li > a > div > span.category {font-size: 16px; color: #b1c712; font-weight: 600; margin-bottom: 14px;}
#news-wrapper > ul > li > a > div > em {font-size: 22px; font-weight: 700; line-height: 27px; margin-bottom: 22px;}
#news-wrapper > ul > li > a > div > p { display: none; font-size: 16px; color: #555; font-weight: 300; line-height: 24px;}
#news-wrapper > ul > li > a > div > span.date {position: absolute; right: 44px; top: 50%; transform: translate(0, -50%);color: #555;}
#news-wrapper > ul > li:hover > a {height: 300px;background: #FBFFE6;}
#news-wrapper > ul > li:hover > a::before {display: block;}
#news-wrapper > ul > li:hover > a > div {width: calc(100% - 500px); float: left; padding-right: 70px;}
#news-wrapper > ul > li:hover > a > div > p {display: block;}
#news-wrapper > ul > li:hover > a > div > span.date {right: auto; top: auto; transform: none; left: 44px; bottom: 44px;}

#main-ir {padding: 200px 50px 0; box-sizing: border-box; background: url(../img/main-ir-01.jpg) center no-repeat; background-size: cover; overflow: hidden; min-height: 880px;}
#main-ir > div.title {text-align: center; color: #ffffff; margin-bottom: 60px;}
#main-ir > div.title > h2 {font-size: 60px; margin-bottom: 40px;text-align: center; font-weight: 800px;}
#main-ir > div.title > p {font-size: 18px; text-align: center;}
#main-ir .col.bg > span {font-size: 60px; color: #f11a1a;}
#main-ir .col.bg > a {display: block; width: 120px; height: 40px; box-sizing: border-box; border: 1px solid #dddddd; border-radius: 50px; font-size: 15px; font-weight: 600; color: #555555; line-height: 40px; text-align: center; margin-top: 25px; transition: all 0.3s;}
#main-ir .col.bg > a i {position: relative; top: -2px; margin-left: 6px; color: #A8A8A8; transition: all 0.3s;}
#main-ir .col.bg > a:hover {background: #b4d41b; border-color: #b4d41b; color: #ffffff;}
#main-ir .col.bg > a:hover i {color: #ffffff;}
#main-ir .col.bg > ul {border-top: 1px solid #e5e5e5; padding-top: 30px; margin-top: 70px;}
#main-ir .col.bg > ul > li {color: #555555; position: relative;}
#main-ir .col.bg > ul > li + li {margin-top: 18px;}
#main-ir .col.bg > ul > li:last-child > em {color: #222222;}
#main-ir .col.bg > ul > li > em {float: right; font-size: 17px; color: #f11a1a; }
#main-ir .col.bg > ul > li i {font-size: 20px; top: -2px; margin-left: 5px;}
#main-ir .row > div {position: relative;}
#main-ir .row > div  em.title {display: block; font-size: 20px; font-weight: 600;}
#main-ir .row > .bg em.title {margin-bottom: 35px;}
#main-ir .row > .bg ul {font-size: 18px;}
#main-ir .row > .bg ul > li {display: none;}
#main-ir .row > .bg ul > li.on {display: block;}
#main-ir .row > .bg p.control {position: absolute; right: 40px; top: 40px;}
#main-ir .row > .bg p.control > a {font-size: 20px; color: #B2B2B2;}
#main-ir .row > .bg p.control > a + a {margin-left: 20px;}
#main-ir .row > .border {position: relative; padding: 0; transition: all 0.3s;}
#main-ir .row > .border::before {content: ''; position: absolute; width: 115px; height: 154px; right: 35px; bottom: -2px; transform: translate(0, 100%); background: url(../img/main-ir-04.jpg) center no-repeat; background-size: cover; box-shadow: 1px 10px 10px 10px rgb(0 0 0 / 10%); transition: all 0.3s;}
#main-ir .row > .border:hover {border-color: #b4d41b; background: #b4d41b;}
#main-ir .row > .border:hover::before {transform: none;}
#main-ir .row > .border > a {display: block; padding: 40px; height: 100%; box-sizing: border-box; background: url(../img/main-ir-03.png) 40px calc(100% - 30px) no-repeat;}
#main-ir .row > .border em.title {margin-bottom: 18px;}
#main-ir .row > .border span {font-size: 16px;}


#footer {position: relative; padding: 80px 50px; background: url(../img/logo_color.png) 50px 80px no-repeat;}
#footer > ul {margin-left: 250px; margin-bottom: 26px;}
#footer > ul > li {display: inline-block; font-size: 18px; font-weight: 600;}
#footer > ul > li + li {margin-left: 35px; color: #555555; font-weight: 400;}
#footer > ul > li:last-child {color: #9db900; font-weight: 600;}
#footer > span {display: block; margin-left: 250px; color: #aaaaaa;}
#footer-menu {position: absolute; right: 50px; top: 80px;}
#footer-menu > a {float: left;}
#footer-menu > button.family {position: relative; width: 186px; height: 54px; padding: 0 18px; box-sizing: border-box; border: 1px solid #dddddd; border-radius: 50px; margin-left: 25px; cursor: pointer; overflow: hidden;}
#footer-menu > button.family > .more {position: absolute; width: 12px; height: 12px; right: 18px; top: 50%; transform: translate(0, -50%); transition: 0.3s;}
#footer-menu > button.family > .more::after {content: ''; position: absolute; width: 12px; height: 2px; left: 0; top: 50%; transform: translate(0, -50%); background: #000000;}
#footer-menu > button.family > .more::before {content: ''; position: absolute; width: 2px; height: 12px; left: 50%; top: 0; transform: translate(-50%, 0); background: #000000;}
#footer-menu > button.family > ul {position: absolute; right: -1px; bottom: -2px; transform: translate(0, 100%); width: 476px; height: 260px; box-sizing: border-box; border: 1px solid #bfd715; border-radius: 30px; background: #ffffff; padding: 50px 40px; transition: transform 0.3s; opacity: 0;}
#footer-menu > button.family > ul > li {margin-bottom: 30px; overflow: hidden;}
#footer-menu > button.family > ul > li + li {padding-top: 30px; border-top: 1px solid #e5e5e5;}
#footer-menu > button.family > ul > li:last-child {margin: 0;}
#footer-menu > button.family > ul > li > em {float: left; width: 25%; font-weight: 600;}
#footer-menu > button.family > ul > li > ul {float: right; width: 75%; font-size: 15px; color: #555555;}
#footer-menu > button.family > ul > li > ul > li {float: left; width: 33.33%; height: 32px;}
#footer-menu > button.family > ul > li > ul > li:hover {color: #b1c712;}
#footer-menu > button.family:hover {overflow: visible;}
#footer-menu > button.family:hover > ul {transform: none; opacity: 1;}
#footer-menu > button.family:hover > .more {transform: translate(0, -50%) rotate(-45deg); z-index: 100;}


@media screen and (max-width: 1300px) {
  #footer-menu {top: 120px;}
  #news-wrapper > ul > li > a::before {width: 380px;}
  #news-wrapper > ul > li > a > div {padding: 35px;}
  #news-wrapper > ul > li > a > div > em {font-size: 20px; margin-bottom: 18px;}
  #news-wrapper > ul > li > a > div > p {font-size: 15px;}
  #news-wrapper > ul > li:hover > a > div {width: calc(100% - 380px);}
  #news-wrapper > ul > li:hover > a > div > span.date {left: 35px;}
}




/* sub (common) */
body.sub.manage.environment #header.dark {background: #ffffff;}

#sub-visual {position: relative; height: 700px; padding-top: 210px; box-sizing: border-box; background: url(../img/environment-visual.jpg) center top no-repeat; background-size: cover;}
#sub-visual > h2 {font-size: 60px; font-weight: 700; color: #ffffff; text-align: center;}
#sub-visual > h2 > p {font-size: 18px; font-weight: 300; margin-top: 35px;}

#lnb {position: absolute; left: 50%; bottom: 0; transform: translate(-50%, 0); width: calc(100% - 180px); height: 200px; padding: 60px 60px; box-sizing: border-box; background: #ffffff;}
#lnb > ol {float: left;}
#lnb > ol > li {float: left;}
#lnb > ol > li + li {position: relative; margin-left: 35px;}
#lnb > ol > li + li::before {content: ''; position: absolute; right: calc(100% + 17px); top: calc(50% - 2px); transform: translate(0, -50%); width: 7px; height: 11px; background: url(../img/sub-visual-icon-01.png) center no-repeat; background-size: contain;}
#lnb > ol > li:nth-child(2) {font-weight: 300; color: #555555;}
#lnb > ol > li.nav {position: relative ;}
#lnb > ol > li.nav > em {position: relative; font-weight: 600;}
#lnb > ol > li.nav > em::after {content: ''; position: absolute; left: calc(100% + 10px); top: 50%; transform: translate(0, -50%); width: 8px; height: 8px; background: url(../img/sub-visual-nav-open.png) center no-repeat; background-size: contain;}
#lnb > ol > li.nav > ul {position: absolute; left: 50%; top: calc(100% + 10px); transform: translate(-50%, 0); width: 160px; text-align: center; color: #555555; box-sizing: border-box; height: 0; overflow: hidden; transition: height 0.3s;}
#lnb > ol > li.nav > ul > li {line-height: 32px;}
#lnb > ol > li.nav > ul > li > a {display: block;}
#lnb > ol > li.nav > ul > li > a:hover {color: #b1c712;}
#lnb > a.share {float: right; font-size: 13px; line-height: 22px; font-weight: 600; padding-left: 28px; background: url(../img/sub-visual-nav-share.png) left center no-repeat;}
#lnb > a.share:hover {color: #b1c712;}

#lnb > ol > li.nav.open > em::after {background-image: url(../img/sub-visual-nav-close.png);}
#lnb > ol > li.nav.open > ul {border: 1px solid #e5e5e5; padding: 14px 0; height: auto;}





/* sub */
body.environment #main > section + section {padding: 120px 5% 140px; margin: 0 auto; box-sizing: border-box;}
body.environment .title {font-size: 35px; font-weight: 700; text-align: center;}
body.environment p.desc {font-size: 18px; color: #555555; line-height: 30px; font-weight: 300; margin-top: 32px;}
body.environment em.sub-title {display: block; font-size: 24px; font-weight: 700; margin: 70px auto 0;}
body.environment em.sub-title + p.desc {margin: 20px auto 0;}


body.environment #intro > em.title {display: block; margin-bottom: 75px;}
body.environment #intro > ul.value {color: #666666; font-size: 20px; font-weight: 700; text-align: center; margin-bottom: 160px;}
body.environment #intro > ul.value > li {display: inline-block;}
body.environment #intro > ul.value > li + li {margin-left: 80px;}
body.environment #intro > ul.value > li > em {font-weight: 300;}
body.environment #intro > ul.value > li > em > strong {display: block; font-size: 72px; color: #222222; margin: 25px 0 10px 0;}
body.environment #intro > ul.value > li > em .unit {font-size: 20px; font-weight: 700; color: #999999;}
body.environment #intro .philosophy {height: 726px; padding-top: 245px; background: url(../img/environment-philosophy.jpg) center no-repeat; background-size: cover; text-align: center; color: #ffffff; box-sizing: border-box;}
body.environment #intro .philosophy > h3 {font-size: 60px; font-weight: 700; margin-bottom: 40px;}
body.environment #intro .philosophy > p {font-size: 28px; font-weight: 300; line-height: 40px;}
body.environment #intro .meaning {padding: 140px 0 114px 0; text-align: center; margin: 0 5%;}
body.environment #intro .meaning + .meaning {border-top: 1px solid #e5e5e5;}
body.environment #intro .meaning > em {display: block; font-size: 35px; font-weight: 700; margin-bottom: 38px;}
body.environment #intro .meaning > strong {display: block; font-size: 60px; font-weight: 800; letter-spacing: -2.4px; color: #b1c712;}

body.environment #organize {width: 100% !important; background: url(../img/environment-organize-01.jpg) center bottom no-repeat; background-size: cover;}
body.environment #organize > img {display: block; margin: 74px auto 0;}
body.environment #organize > div {margin: 25px auto 0; padding-left: 252px; width: 843px; box-sizing: border-box;}
body.environment #organize > div > em {display: block; font-size: 18px; font-weight: 700;}
body.environment #organize > div > p.desc {margin-top: 10px; line-height: 26px;}

body.environment #goal {width: 100% !important; background: #f5f5f5;}
/* body.environment #goal > * {width: 1200px; margin: 0 auto;} */
body.environment #goal > img {display: block; margin: 0 auto; margin: 63px auto 70px;}
body.environment #goal .list-table > li {padding-left: 160px; position: relative;}
body.environment #goal .list-table > li:first-child {border-top-width: 4px;}
body.environment #goal .list-table > li::before {content: ''; position: absolute; left: 0; top: 0; width: 160px; height: 100%; background: url(../img/environment-goal_icon_01.png) center no-repeat;}
body.environment #goal .list-table > li:nth-child(2):before {background-image: url(../img/environment-goal_icon_02.png);}
body.environment #goal .list-table > li:nth-child(3):before {background-image: url(../img/environment-goal_icon_03.png);}
body.environment #goal .list-table > li:nth-child(4):before {background-image: url(../img/environment-goal_icon_04.png);}
body.environment #goal .list-table > li > em {display: block; font-size: 22px; font-weight: 700; margin-bottom: 14px;}
body.environment #goal .table-wrapper {width: 100%; overflow: auto; margin-top: 28px;}
body.environment #goal table {width: 1200px; font-size: 16px; margin-top: 28px;table-layout: fixed; margin: 0 auto;}
body.environment #goal table caption {width: 100%; padding: 17px 0; background: #e8e8e8; font-weight: 600;}
body.environment #goal table tr > * {width: 210px; padding: 17px 20px; box-sizing: border-box;}
body.environment #goal table tr > th:first-child {width: 360px;}
body.environment #goal table thead tr th { text-align: center;}
body.environment #goal table tbody tr {border-top: 1px solid #e5e5e5;}
body.environment #goal table tbody tr:last-child {border-bottom: 1px solid #e5e5e5;}
body.environment #goal table tbody tr td {height: 115px; border-left: 1px solid #e5e5e5; box-sizing: border-box;}
body.environment #goal table tbody tr th {line-height: 28px; padding-left: 85px; background: url(../img/environment-goal_icon_01.png) 20px center no-repeat; background-size: 40px;}
body.environment #goal table tbody tr:nth-child(2) th {background-image: url(../img/environment-goal_icon_02.png);}
body.environment #goal table tbody tr:nth-child(3) th {background-image: url(../img/environment-goal_icon_03.png);}
body.environment #goal table tbody tr:nth-child(4) th {background-image: url(../img/environment-goal_icon_04.png);}
body.environment #goal table tbody tr th ul {font-weight: 400; color: #666; line-height: 26px;} 
body.environment #goal table tbody tr th ul li {position: relative; padding-left: 10px;}
body.environment #goal table tbody tr th ul li::before {content: ''; position: absolute; left: 0; top: 50%; transform: translate(0, -50%); width: 4px; height: 4px; border-radius: 50%; background: #666666;}
body.environment #goal table tbody tr td {position: relative; text-indent: -9999px; overflow: hidden;}
body.environment #goal table tbody tr td.circle::before {content: ''; position: absolute; left: 50%; top: 50%; transform: translate(-50%, -50%); width: 25px; height: 25px; border: 3px solid #c2d922; border-radius: 50px;  box-sizing: border-box;}

body.environment #activity {padding: 120px 0 140px !important;}
body.environment #activity dl > dt {padding: 60px 0 80px 0;}
body.environment #activity dl > dd {padding: 0 5%;}
body.environment #activity dl > dt:nth-child(3) {padding-top: 100px; background: #f5f5f5;}
body.environment #activity dl > dd:nth-child(4) {background: #f5f5f5;}





body.environment #activity dl > dt > h4 {font-size: 42px; font-weight: 300; 
text-align: center;}
body.environment #activity dl > dd > ul > li:first-child > em.sub-title {margin-top: 0;}
body.environment #activity p.desc {margin-bottom: 34px;}
body.environment #activity dl > dd > ul > li > p.desc > span {color: #b1c712; font-weight: 500;}
body.environment #activity dl > dd > ul > li.float-parent > div > p {font-size: 18px; font-weight: 300; line-height: 30px; padding-right: 40px; margin-top: 34px;}
body.environment #activity #graph {padding: 80px 50px; background: #f5f5f5; overflow: hidden;}

body.environment #activity #graph > li {float: left; width: 30.666%;}
body.environment #activity #graph > li + li {margin-left: 4%;}
body.environment #activity #graph > li > dl {position: relative;}
body.environment #activity #graph > li > dl > dd {position: absolute;}

body.environment #activity #campain {padding: 60px; background: #fafbf7;}
body.environment #activity #campain > li.float-parent > img {width: 48%;}
body.environment #activity #campain > li + li {width: 48%; margin-top: 55px;}
body.environment #activity #campain > li + li > * {max-width: 100%;}
body.environment #activity #campain > li::before {content: ''; display: block; width: 54px; height: 66px; background: url(../img/environment-activity-in-04_0.png) center no-repeat; background-size: contain; margin: 0 auto 20px;}
body.environment #activity #campain > li:nth-child(2)::before {background-image: url(../img/environment-activity-in-04_1.png);}
body.environment #activity #campain > li:nth-child(3)::before {background-image: url(../img/environment-activity-in-04_2.png);}
body.environment #activity #campain > li > em {display: block; width: 510px; height: 64px; padding-top: 3px; box-sizing: border-box; margin: 0 auto; text-align: center; color: #ffffff; font-size: 24px; font-weight: 600; line-height: 64px; background: #bfd715;}
body.environment #activity #campain > li > p.desc {text-align: center;}

body.environment #activity #education {padding-bottom: 90px;}
body.environment #activity #education > ul {text-align: center; margin-bottom: 25px;}
body.environment #activity #education > ul > li {width: 380px; height: 380px; border-radius: 50%; overflow: hidden; display: inline-block; position: relative;}
body.environment #activity #education > ul > li:first-child {z-index: 100;}
body.environment #activity #education > ul > li:nth-child(2) {z-index: 10;}
body.environment #activity #education > ul > li + li {margin-left: -40px;}
body.environment #activity #education > ul > li > img {width: 380px; position: absolute; left: 50%; top: 50%; transform: translate(-50%, -50%); border-radius: 50%; transition: width 0.5s;}
body.environment #activity #education > ul > li:hover > img {width: 480px;}
body.environment #activity #education .img-txt {text-align: center;}
body.environment #activity #education .img-txt > span {display: inline-block;}
body.environment #activity #education .img-txt > span + span {margin-left: 110px;}

@media screen and (max-width: 1280px) {
  body.environment #activity #education > ul > li {width: 300px; height: 300px;}
  body.environment #activity #education > ul > li + li {margin-left: -30px;}
  body.environment #activity #education > ul > li:hover > img {width: 380px;}
  body.environment #activity #education > ul > li > img {width: 300px;}
  body.environment #activity #education .img-txt > span + span {margin-left: 40px ;} 
}







/* module */
section > video.pc {position: absolute; left: 50%; top: 50%; transform: translate(-50%, -50%); width: 100%;}
a.more {font-size: 20px; font-weight: 700; letter-spacing: -2px; border-bottom: 2px solid #222222; padding-bottom: 1px; transition: all 0.3s;}
a.more:hover {color: #b1c712; border-color: #b1c712;}

.status {position: relative; height: 6px; background: rgba(0,0,0,0.2);}
.status > span {position: absolute; left: 0; top: 0; height: 100%; background: #bed733; transition: width 0.3s;}

div.layout {max-width: 1196px; height: 450px; margin: 0 auto; overflow: hidden;}
div.layout div.border {border: 2px solid #ffffff; color: #ffffff;}
div.layout div.pic1 {background: url(../img/main-ir-02.jpg) center no-repeat; background-size: cover; color: #ffffff; transition: all 0.3s;}
div.layout div.pic1:hover {background-size: 120%}
div.layout div.bg {background: #ffffff;}
div.layout div.col em.title {display: block; font-size: 22px; margin-bottom: 16px; font-weight: 600;}
div.layout-box {float: left; width: calc(33.33% - 21.33px); height: 100%; padding: 48px 45px; box-sizing: border-box;}
div.layout-box + div.layout-box {margin-left: 32px;}
div.layout-box > div {height: calc(50% - 16px); padding: 40px; box-sizing: border-box;}
div.layout-box > div + div {margin-top: 32px;}
div.layout-box.row {padding: 0;}

.list-table {margin: 30px auto 0;}
.list-table > li {padding: 50px 0; border-top: 1px solid #e5e5e5; font-size: 18px; font-weight: 300;}
.list-table > li:last-child {border-bottom: 1px solid #e5e5e5;}
.list-table > li > span {display: inline-block; width: 190px; font-size: 24px; color: #b1c712; text-align: center;}

.float-parent {overflow: hidden;}
.float-parent > .left {float: left; width: 50%;}
.float-parent > .right {float: right; width: 50%;}
.float-parent img {display: block; margin: 0 auto;}

.slide {position: relative; max-width: 1200px; margin: 0 auto; overflow: hidden; background: pink;}
.slide .status {z-index: 100; background: #ffffff;}
.slide > div.box {position: relative; left: 0; top: 0; width: 100%; height: 100%; }
.slide > div.box img {width: 100%;}
.slide > div.box > .dummy {opacity: 0;}
.slide > div.box > ul {position: absolute; left: 0; top: 0; width: 100%; height: 100%;}
.slide > div.box > ul > li {position: absolute; left: 0; top: 0; width: 100%; height: 100%; display: none;}
.slide > div.box > ul > li:first-child {display: block;}
.slide p.control {position: absolute; right: 40px; bottom: 35px;}
.slide p.control::before {content: ''; width: 1px; height: 100%; position: absolute; left: 50%; top: 0; transform: translate(-50%, 0); background: #e5e5e5;}
.slide p.control > a {float: left; color: #d5d5d5; pointer-events: none;}
.slide p.control > a + a {margin-left: 60px;}
.slide p.control > a.on {color: #000000; pointer-events: initial;}
.slide p.control i {font-size: 35px;}
.slide.slide1 > ul.slide-text {position: absolute; right: 0; bottom: 0; width: 590px; height: 196px; background: #ffffff;}
.slide.slide1 > ul.slide-text > li {position: absolute; width: 100%; height: 100%; padding: 35px 40px; box-sizing: border-box; font-size: 18px; line-height: 28px;  opacity: 0;}
.slide.slide1 > ul.slide-text > li:first-child {opacity: 1;}
.slide.slide1 > ul.slide-text > li > em {display: block; font-size: 30px; line-height: 40px; font-weight: 700; margin-bottom: 30px;}
.slide.slide1 > ul.slide-text > li > span {font-size: 14px;}














@media screen and (max-width: 1220px) {
  #main-ir .col.bg > span {font-size: 40px;}
  div.layout {height: 400px;}
  #main-ir {padding-top: 100px;}
  #main-ir > div.title > h2 {font-size: 40px; margin-bottom: 25px;}
  #main-ir > div.title > p {font-size: 16px;}
  #main-ir .col.bg > ul {margin-top: 24px;}
}



/* animation keyframes */
@keyframes scroll-effect {
  0% {transform: translate(-50%, calc(-50% + 2px));}
  100% {transform: translate(-50%, calc(-50% + 12px));}
}






/*
html {-webkit-text-size-adjust: none; text-size-adjust: none;}
body {margin: 0;}
main {display: block;}
h1, h2, h3, h4, h5, h6, ul, ol, li, dl, dt, dd, p, table, blockquote {margin: 0; padding: 0;}
h1, h2, h3, h4, h5, h6 {font-weight: 700;}
a {color: inherit; text-decoration: inherit;}
a img {border: none;}
img {vertical-align: middle; max-width: 100%;}
li {list-style: none;}
address, em, i, cite {font-style: normal;}
table {border-collapse: collapse;}
table caption {overflow: hidden; width: 0; height: 0;}
i.fas, i.far, i.fal, i.fad, i.fab {position: relative; display: inline-block; vertical-align: middle;}
i.fas span, i.far span, i.fal span, i.fad span, i.fab span {position: absolute; overflow: hidden; text-indent: -999px;}
.pc {display: none !important;}
br.only-pc {content: '';}
br.only-pc:after {content: '\00a0';}
.ir-hidden {position: absolute; left: -9999px;}


html {font-family: 'NanumSquare', '맑은 고딕', 'malgun gothic', '돋움', Dotum, 'Apple SD Gothic Neo', Helvetica, sans-serif; font-weight: 400; font-size: 13px; color: #333333; background: #ffffff;}



@media screen and (min-width: 600px) {

}

img.arrow {animation: arrow-effect 0.5s ease 0s infinite alternate forwards;}
@keyframes arrow-effect {
    0% {left: 0; opacity: 1;}
    100% {left: 10px; opacity: 0.6;}
}

*/
