@charset "utf-8";

@font-face {
  font-family: 'Metropolis';
  font-weight: 300;
  src: url(../font/Metropolis-Light.woff) format('woff');
}

@font-face {
  font-family: 'Metropolis';
  font-weight: 400;
  src: url(../font/Metropolis-Regular.woff) format('woff');
}

@font-face {
  font-family: 'Metropolis';
  font-weight: 500;
  src: url(../font/Metropolis-Medium.woff) format('woff');
}

@font-face {
  font-family: 'Metropolis';
  font-weight: 700;
  src: url(../font/Metropolis-Bold.woff) format('woff');
}

@font-face {
  font-family: 'Metropolis';
  font-weight: 800;
  src: url(../font/Metropolis-ExtraBold.woff) format('woff');
}

